*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradient(105deg, #fff, rgb(91, 104, 235));
    background-repeat: no-repeat; */
    /* height: 100vh; */
    /* background: linear-gradient(105deg,#fff, #4b8ef1); */
    /* background-color: #4b8ef1; */
}