.nav-box{
    background-color: blueviolet;
    height: 70px;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 1rem;
    
}

.section{
    display: flex;
}

.namelogo{
    display: flex;
}

.items ul li a{

    text-decoration: none;
}